ImporterTables/xml-resources/web-service-references/geolocatesvc/wsdl/www.museum.tulane.edu/webservices/geolocatesvcv2/geolocatesvc.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.museum.tulane.edu/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.museum.tulane.edu/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.museum.tulane.edu/webservices/">
      <s:element name="FindWaterBodiesWithinLocality">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocalityDescription" type="tns:LocalityDescription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LocalityDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LocalityString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindWaterBodiesWithinLocalityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindWaterBodiesWithinLocalityResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Georef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocalityDescription" type="tns:LocalityDescription" />
            <s:element minOccurs="1" maxOccurs="1" name="HwyX" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FindWaterbody" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="RestrictToLowestAdm" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doUncert" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doPoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="displacePoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="polyAsLinkID" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="LanguageKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeorefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Georef_Result_Set" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Georef_Result_Set">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EngineVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumResults" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExecutionTimems" type="s:double" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultSet" type="tns:Georef_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Georef_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WGS84Coordinate" type="tns:GeographicPoint" />
          <s:element minOccurs="0" maxOccurs="1" name="ParsePattern" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Precision" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UncertaintyRadiusMeters" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UncertaintyPolygon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplacedDistanceMiles" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplacedHeadingDegrees" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Debug" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeographicPoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Georef2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalityString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HwyX" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FindWaterbody" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="RestrictToLowestAdm" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doUncert" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doPoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="displacePoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="polyAsLinkID" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="LanguageKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Georef2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Georef_Result_Set" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Georef3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vLocality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vGeography" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HwyX" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FindWaterbody" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="RestrictToLowestAdm" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doUncert" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doPoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="displacePoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="polyAsLinkID" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="LanguageKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Georef3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Georef_Result_Set" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SnapPointToNearestFoundWaterBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocalityDescription" type="tns:LocalityDescription" />
            <s:element minOccurs="1" maxOccurs="1" name="WGS84Coordinate" type="tns:GeographicPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SnapPointToNearestFoundWaterBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WGS84Coordinate" type="tns:GeographicPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SnapPointToNearestFoundWaterBody2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalityString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WGS84Latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="WGS84Longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SnapPointToNearestFoundWaterBody2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WGS84Coordinate" type="tns:GeographicPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcUncertaintyPoly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PolyGenerationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcUncertaintyPolyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcUncertaintyPolyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Georef2plusBG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalityString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HwyX" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="FindWaterbody" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="RestrictToLowestAdm" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doUncert" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="doPoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="displacePoly" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="polyAsLinkID" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="LanguageKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Georef2plusBGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Georef_Result_Set" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Georef_Result_Set" type="tns:Georef_Result_Set" />
      <s:element name="GeographicPoint" type="tns:GeographicPoint" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindWaterBodiesWithinLocalitySoapIn">
    <wsdl:part name="parameters" element="tns:FindWaterBodiesWithinLocality" />
  </wsdl:message>
  <wsdl:message name="FindWaterBodiesWithinLocalitySoapOut">
    <wsdl:part name="parameters" element="tns:FindWaterBodiesWithinLocalityResponse" />
  </wsdl:message>
  <wsdl:message name="GeorefSoapIn">
    <wsdl:part name="parameters" element="tns:Georef" />
  </wsdl:message>
  <wsdl:message name="GeorefSoapOut">
    <wsdl:part name="parameters" element="tns:GeorefResponse" />
  </wsdl:message>
  <wsdl:message name="Georef2SoapIn">
    <wsdl:part name="parameters" element="tns:Georef2" />
  </wsdl:message>
  <wsdl:message name="Georef2SoapOut">
    <wsdl:part name="parameters" element="tns:Georef2Response" />
  </wsdl:message>
  <wsdl:message name="Georef3SoapIn">
    <wsdl:part name="parameters" element="tns:Georef3" />
  </wsdl:message>
  <wsdl:message name="Georef3SoapOut">
    <wsdl:part name="parameters" element="tns:Georef3Response" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBodySoapIn">
    <wsdl:part name="parameters" element="tns:SnapPointToNearestFoundWaterBody" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBodySoapOut">
    <wsdl:part name="parameters" element="tns:SnapPointToNearestFoundWaterBodyResponse" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBody2SoapIn">
    <wsdl:part name="parameters" element="tns:SnapPointToNearestFoundWaterBody2" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBody2SoapOut">
    <wsdl:part name="parameters" element="tns:SnapPointToNearestFoundWaterBody2Response" />
  </wsdl:message>
  <wsdl:message name="CalcUncertaintyPolySoapIn">
    <wsdl:part name="parameters" element="tns:CalcUncertaintyPoly" />
  </wsdl:message>
  <wsdl:message name="CalcUncertaintyPolySoapOut">
    <wsdl:part name="parameters" element="tns:CalcUncertaintyPolyResponse" />
  </wsdl:message>
  <wsdl:message name="Georef2plusBGSoapIn">
    <wsdl:part name="parameters" element="tns:Georef2plusBG" />
  </wsdl:message>
  <wsdl:message name="Georef2plusBGSoapOut">
    <wsdl:part name="parameters" element="tns:Georef2plusBGResponse" />
  </wsdl:message>
  <wsdl:message name="Georef2HttpGetIn">
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="County" type="s:string" />
    <wsdl:part name="LocalityString" type="s:string" />
    <wsdl:part name="HwyX" type="s:string" />
    <wsdl:part name="FindWaterbody" type="s:string" />
    <wsdl:part name="RestrictToLowestAdm" type="s:string" />
    <wsdl:part name="doUncert" type="s:string" />
    <wsdl:part name="doPoly" type="s:string" />
    <wsdl:part name="displacePoly" type="s:string" />
    <wsdl:part name="polyAsLinkID" type="s:string" />
    <wsdl:part name="LanguageKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Georef2HttpGetOut">
    <wsdl:part name="Body" element="tns:Georef_Result_Set" />
  </wsdl:message>
  <wsdl:message name="Georef3HttpGetIn">
    <wsdl:part name="vLocality" type="s:string" />
    <wsdl:part name="vGeography" type="s:string" />
    <wsdl:part name="HwyX" type="s:string" />
    <wsdl:part name="FindWaterbody" type="s:string" />
    <wsdl:part name="RestrictToLowestAdm" type="s:string" />
    <wsdl:part name="doUncert" type="s:string" />
    <wsdl:part name="doPoly" type="s:string" />
    <wsdl:part name="displacePoly" type="s:string" />
    <wsdl:part name="polyAsLinkID" type="s:string" />
    <wsdl:part name="LanguageKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Georef3HttpGetOut">
    <wsdl:part name="Body" element="tns:Georef_Result_Set" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBody2HttpGetIn">
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="County" type="s:string" />
    <wsdl:part name="LocalityString" type="s:string" />
    <wsdl:part name="WGS84Latitude" type="s:string" />
    <wsdl:part name="WGS84Longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBody2HttpGetOut">
    <wsdl:part name="Body" element="tns:GeographicPoint" />
  </wsdl:message>
  <wsdl:message name="CalcUncertaintyPolyHttpGetIn">
    <wsdl:part name="PolyGenerationKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalcUncertaintyPolyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Georef2plusBGHttpGetIn">
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="County" type="s:string" />
    <wsdl:part name="LocalityString" type="s:string" />
    <wsdl:part name="HwyX" type="s:string" />
    <wsdl:part name="FindWaterbody" type="s:string" />
    <wsdl:part name="RestrictToLowestAdm" type="s:string" />
    <wsdl:part name="doUncert" type="s:string" />
    <wsdl:part name="doPoly" type="s:string" />
    <wsdl:part name="displacePoly" type="s:string" />
    <wsdl:part name="polyAsLinkID" type="s:string" />
    <wsdl:part name="LanguageKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Georef2plusBGHttpGetOut">
    <wsdl:part name="Body" element="tns:Georef_Result_Set" />
  </wsdl:message>
  <wsdl:message name="Georef2HttpPostIn">
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="County" type="s:string" />
    <wsdl:part name="LocalityString" type="s:string" />
    <wsdl:part name="HwyX" type="s:string" />
    <wsdl:part name="FindWaterbody" type="s:string" />
    <wsdl:part name="RestrictToLowestAdm" type="s:string" />
    <wsdl:part name="doUncert" type="s:string" />
    <wsdl:part name="doPoly" type="s:string" />
    <wsdl:part name="displacePoly" type="s:string" />
    <wsdl:part name="polyAsLinkID" type="s:string" />
    <wsdl:part name="LanguageKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Georef2HttpPostOut">
    <wsdl:part name="Body" element="tns:Georef_Result_Set" />
  </wsdl:message>
  <wsdl:message name="Georef3HttpPostIn">
    <wsdl:part name="vLocality" type="s:string" />
    <wsdl:part name="vGeography" type="s:string" />
    <wsdl:part name="HwyX" type="s:string" />
    <wsdl:part name="FindWaterbody" type="s:string" />
    <wsdl:part name="RestrictToLowestAdm" type="s:string" />
    <wsdl:part name="doUncert" type="s:string" />
    <wsdl:part name="doPoly" type="s:string" />
    <wsdl:part name="displacePoly" type="s:string" />
    <wsdl:part name="polyAsLinkID" type="s:string" />
    <wsdl:part name="LanguageKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Georef3HttpPostOut">
    <wsdl:part name="Body" element="tns:Georef_Result_Set" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBody2HttpPostIn">
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="County" type="s:string" />
    <wsdl:part name="LocalityString" type="s:string" />
    <wsdl:part name="WGS84Latitude" type="s:string" />
    <wsdl:part name="WGS84Longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SnapPointToNearestFoundWaterBody2HttpPostOut">
    <wsdl:part name="Body" element="tns:GeographicPoint" />
  </wsdl:message>
  <wsdl:message name="CalcUncertaintyPolyHttpPostIn">
    <wsdl:part name="PolyGenerationKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalcUncertaintyPolyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Georef2plusBGHttpPostIn">
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="County" type="s:string" />
    <wsdl:part name="LocalityString" type="s:string" />
    <wsdl:part name="HwyX" type="s:string" />
    <wsdl:part name="FindWaterbody" type="s:string" />
    <wsdl:part name="RestrictToLowestAdm" type="s:string" />
    <wsdl:part name="doUncert" type="s:string" />
    <wsdl:part name="doPoly" type="s:string" />
    <wsdl:part name="displacePoly" type="s:string" />
    <wsdl:part name="polyAsLinkID" type="s:string" />
    <wsdl:part name="LanguageKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Georef2plusBGHttpPostOut">
    <wsdl:part name="Body" element="tns:Georef_Result_Set" />
  </wsdl:message>
  <wsdl:portType name="geolocatesvcSoap">
    <wsdl:operation name="FindWaterBodiesWithinLocality">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">returns the names of all waterbodies found with a locality description. &lt;br&gt;*U.S. localities only, county required*</wsdl:documentation>
      <wsdl:input message="tns:FindWaterBodiesWithinLocalitySoapIn" />
      <wsdl:output message="tns:FindWaterBodiesWithinLocalitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given a 'LocalityDescription' and boolean georeferencing options. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:GeorefSoapIn" />
      <wsdl:output message="tns:GeorefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given Country, State, County, LocalityString and boolean georeferencing options.  &lt;br&gt;&lt;b&gt;Use this one if you are unsure of which to use.&lt;/b&gt; &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (languagekey=0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:Georef2SoapIn" />
      <wsdl:output message="tns:Georef2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given vLocality, vGeorgraphy and boolean georeferencing options.  VLocality and VGeogrpahy are fields specific to BioGeomancer. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (0) if invalid key is provided &lt;br&gt;*North American Localities Only*</wsdl:documentation>
      <wsdl:input message="tns:Georef3SoapIn" />
      <wsdl:output message="tns:Georef3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Snaps given point to nearest water body found from given locality description. &lt;br&gt;*U.S. localities only, county required*</wsdl:documentation>
      <wsdl:input message="tns:SnapPointToNearestFoundWaterBodySoapIn" />
      <wsdl:output message="tns:SnapPointToNearestFoundWaterBodySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Snaps given point to nearest water body found from given locality description terms. &lt;br&gt;*U.S. localities only, county required*</wsdl:documentation>
      <wsdl:input message="tns:SnapPointToNearestFoundWaterBody2SoapIn" />
      <wsdl:output message="tns:SnapPointToNearestFoundWaterBody2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an uncertainty polygon given the unique id used to generate it.</wsdl:documentation>
      <wsdl:input message="tns:CalcUncertaintyPolySoapIn" />
      <wsdl:output message="tns:CalcUncertaintyPolySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given Country, State, County, LocalityString and boolean georeferencing options.  Also adds results from Biogeomancer to the mix. May take a long time to get results back from BG. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (languagekey=0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:Georef2plusBGSoapIn" />
      <wsdl:output message="tns:Georef2plusBGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="geolocatesvcHttpGet">
    <wsdl:operation name="Georef2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given Country, State, County, LocalityString and boolean georeferencing options.  &lt;br&gt;&lt;b&gt;Use this one if you are unsure of which to use.&lt;/b&gt; &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (languagekey=0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:Georef2HttpGetIn" />
      <wsdl:output message="tns:Georef2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given vLocality, vGeorgraphy and boolean georeferencing options.  VLocality and VGeogrpahy are fields specific to BioGeomancer. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (0) if invalid key is provided &lt;br&gt;*North American Localities Only*</wsdl:documentation>
      <wsdl:input message="tns:Georef3HttpGetIn" />
      <wsdl:output message="tns:Georef3HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Snaps given point to nearest water body found from given locality description terms. &lt;br&gt;*U.S. localities only, county required*</wsdl:documentation>
      <wsdl:input message="tns:SnapPointToNearestFoundWaterBody2HttpGetIn" />
      <wsdl:output message="tns:SnapPointToNearestFoundWaterBody2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an uncertainty polygon given the unique id used to generate it.</wsdl:documentation>
      <wsdl:input message="tns:CalcUncertaintyPolyHttpGetIn" />
      <wsdl:output message="tns:CalcUncertaintyPolyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given Country, State, County, LocalityString and boolean georeferencing options.  Also adds results from Biogeomancer to the mix. May take a long time to get results back from BG. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (languagekey=0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:Georef2plusBGHttpGetIn" />
      <wsdl:output message="tns:Georef2plusBGHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="geolocatesvcHttpPost">
    <wsdl:operation name="Georef2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given Country, State, County, LocalityString and boolean georeferencing options.  &lt;br&gt;&lt;b&gt;Use this one if you are unsure of which to use.&lt;/b&gt; &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (languagekey=0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:Georef2HttpPostIn" />
      <wsdl:output message="tns:Georef2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given vLocality, vGeorgraphy and boolean georeferencing options.  VLocality and VGeogrpahy are fields specific to BioGeomancer. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (0) if invalid key is provided &lt;br&gt;*North American Localities Only*</wsdl:documentation>
      <wsdl:input message="tns:Georef3HttpPostIn" />
      <wsdl:output message="tns:Georef3HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Snaps given point to nearest water body found from given locality description terms. &lt;br&gt;*U.S. localities only, county required*</wsdl:documentation>
      <wsdl:input message="tns:SnapPointToNearestFoundWaterBody2HttpPostIn" />
      <wsdl:output message="tns:SnapPointToNearestFoundWaterBody2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an uncertainty polygon given the unique id used to generate it.</wsdl:documentation>
      <wsdl:input message="tns:CalcUncertaintyPolyHttpPostIn" />
      <wsdl:output message="tns:CalcUncertaintyPolyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Georeferences a locality description. returns a 'Georef_Result_Set' given Country, State, County, LocalityString and boolean georeferencing options.  Also adds results from Biogeomancer to the mix. May take a long time to get results back from BG. &lt;br&gt;Language key refers to an integer representing different languages libraries. Will default to basic english (languagekey=0) if invalid key is provided. &lt;br&gt;*GLOBAL*</wsdl:documentation>
      <wsdl:input message="tns:Georef2plusBGHttpPostIn" />
      <wsdl:output message="tns:Georef2plusBGHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="geolocatesvcSoap" type="tns:geolocatesvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindWaterBodiesWithinLocality">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/FindWaterBodiesWithinLocality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/Georef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef2">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/Georef2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/Georef3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/SnapPointToNearestFoundWaterBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/SnapPointToNearestFoundWaterBody2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/CalcUncertaintyPoly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <soap:operation soapAction="http://www.museum.tulane.edu/webservices/Georef2plusBG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="geolocatesvcSoap12" type="tns:geolocatesvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindWaterBodiesWithinLocality">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/FindWaterBodiesWithinLocality" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/Georef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef2">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/Georef2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/Georef3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/SnapPointToNearestFoundWaterBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/SnapPointToNearestFoundWaterBody2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/CalcUncertaintyPoly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <soap12:operation soapAction="http://www.museum.tulane.edu/webservices/Georef2plusBG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="geolocatesvcHttpGet" type="tns:geolocatesvcHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Georef2">
      <http:operation location="/Georef2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <http:operation location="/Georef3" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <http:operation location="/SnapPointToNearestFoundWaterBody2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <http:operation location="/CalcUncertaintyPoly" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <http:operation location="/Georef2plusBG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="geolocatesvcHttpPost" type="tns:geolocatesvcHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Georef2">
      <http:operation location="/Georef2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef3">
      <http:operation location="/Georef3" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapPointToNearestFoundWaterBody2">
      <http:operation location="/SnapPointToNearestFoundWaterBody2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcUncertaintyPoly">
      <http:operation location="/CalcUncertaintyPoly" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Georef2plusBG">
      <http:operation location="/Georef2plusBG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="geolocatesvc">
    <wsdl:port name="geolocatesvcSoap" binding="tns:geolocatesvcSoap">
      <soap:address location="http://www.museum.tulane.edu/webservices/geolocatesvcv2/geolocatesvc.asmx" />
    </wsdl:port>
    <wsdl:port name="geolocatesvcSoap12" binding="tns:geolocatesvcSoap12">
      <soap12:address location="http://www.museum.tulane.edu/webservices/geolocatesvcv2/geolocatesvc.asmx" />
    </wsdl:port>
    <wsdl:port name="geolocatesvcHttpGet" binding="tns:geolocatesvcHttpGet">
      <http:address location="http://www.museum.tulane.edu/webservices/geolocatesvcv2/geolocatesvc.asmx" />
    </wsdl:port>
    <wsdl:port name="geolocatesvcHttpPost" binding="tns:geolocatesvcHttpPost">
      <http:address location="http://www.museum.tulane.edu/webservices/geolocatesvcv2/geolocatesvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>